.FilterMeal {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    height: 120rem;
    z-index: 999;
    border-bottom: 1px solid #f2f2f2;
}

.InputOuter {
    position: relative;
    display: flex;
    align-items: center;
}

.SearchInput {
    font-size: 20rem;
    width: 530rem;
    height: 70rem;
    border: none;
    border-radius: 15px;
    background-color: #f2f2f2;
    padding-left: 60rem;
    outline: none;
}

.SearchIcon {
    font-size: 30rem;
    position: absolute;
    left: 10rem;
    color: #aaa;
}